*{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header{

    background-image: url("background1.jpg");
    border: 3px black groove;
    border-radius:20px ;
    box-shadow: 6px 6px 6px grey;
    font-family:"Arial Black",Arial,Impact,Serif;
    color: floralwhite;
    font-weight: bolder;



}
.photo{
    display: inline;
    display: flex;
    flex-direction: column;
    width: 190px;
    border-radius: 200px 200px 200px 200px;
    margin-top: 1px;
    margin-left: 50px;
    margin-right: 50px;
    padding-right:50px ;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;

    


}
.div-presentation{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.Présentation{
    text-align: left;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 10px 5px 20px black;
}

h1{
    font-size:x-large;
}
h2{
    font-size: large;
}
.poste{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 15px 20px 20px black;

}
.poste ul {
    list-style-type: none;
    font-weight:normal;
    font-family: 'Poppins', sans-serif;
    color: blanchedalmond;
}
.langues{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 15px 20px 20px black;
}
.langues ul{
    list-style-type: none;
    font-weight:normal;
    font-family: 'Poppins', sans-serif;
    color: blanchedalmond;
}
section {
    background-image: url("background3.jpg");
    border: 3px black groove;
    border-radius: 20px;
    box-shadow: 6px 6px 6px grey;
    font-family:verdana,Arial, Serif;
    font-size: 0.8em;
    text-align: justify;
}
fieldset{
    background-image: url("background1.jpg");
    border: 3px black groove;
    border-radius:20px ;
    box-shadow: 6px 6px 6px grey;
}
.telephone{
    width: 50px;
    height: 50px;
    float: left;


}
.PC {
    width: 250px;
    height: 200px;
    border-radius: 200px 200px 200px 200px;
    margin-top: 1px;
    margin-left: 50px;
    margin-right: 50px;
    padding-right:50px ;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: left;

}
legend{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}
.contact{
    text-align:center;


}





