

header{
    box-sizing: border-box;
    background-image: url("background1.jpg");
    border: 3px black groove;
    border-radius:20px ;
    box-shadow: 6px 6px 6px grey;
    font-family:"Arial Black",Arial,Impact,Serif;
    color: floralwhite;
    font-weight: bolder;

}
section {
    box-sizing: border-box;
    background-image: url("background3.jpg");
    border: 3px black groove;
    border-radius: 20px;
    box-shadow: 6px 6px 6px grey;
    font-family: Arial,Verdana, Serif;
    font-size: 1em;
    text-align: justify;
}
.photo{

    width: 200px;
    height: 380px;
    border-radius: 200px 200px 200px 100px;
    float: left;
}
.contenaire-profile {
    display: flex;

}
.Présentation{

    width: 40%;
    font-family: 'Poppins', sans-serif;
    text-shadow: 10px 5px 20px black;
}

h1{
    font-size:x-large;
}
h1 ul{
    font-size: large;
}

.poste{
    width: 40%;
    align-items: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 15px 20px 20px black;

}
.poste ul {
    list-style-type: none;
    font-weight:normal;
    font-family: 'Poppins', sans-serif;
    color: blanchedalmond;
}
.langues{

    font-family: 'Poppins', sans-serif;
    text-shadow: 15px 20px 20px black;
}

.competence{
    display: flex;
}
.formation{
    display: flex;
}
.experiencepro{
    display: flex;
}
.PC {
    width: 250px;
    height: 200px;
    border-radius: 200px 200px 200px 200px;
    transition: .5s;
    animation: anim 1s ;
    
    margin-top: 1px;
    margin-left: 50px;
    margin-right: 50px;
    float: left;

}
.PC:hover {

    transform: scale(1,5);
    transition: 1s;
    transform: rotateX(50deg) rotateY(50deg);
    transition: 1s;
}
@keyframes anim {
    0%{
        transform: stranslateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-200px);
        opacity: 0;
    }

}
fieldset{
    box-sizing: border-box;
    background-image: url("background1.jpg");
    border: 3px black groove;
    border-radius:20px ;
    box-shadow: 6px 6px 6px grey;
    margin: 0px;
    padding: 0px;
}

legend{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    padding: 0px;
}
.contact{
    text-align:center;
}
.progresscircle{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.container{
    position: relative;
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.container .card{
    position: relative;
    width: 200px;
    background: linear-gradient(0deg, #1b1b1b,#222,#1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}
.container .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.container .card:before
{
    content:'';
    position: absolute;
    top:0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.03);
    pointer-events:none;
    z-index: 1;
}
.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}
.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;

}
.percent .number h2{
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}
.card:hover .percent .number h2{
    color: #fff;
    font-size: 60px;
}
.percent .number h2 span{
    font-size: 24px;
    color: #777;
    transition: 0.5s;
}
.card:hover .percent .number h2 span{
color: #fff;
}
.text{
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}
.card:hover .text{
    color: #fff;
}
svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}
svg circle{
    width: 20%;
    height: 20%;
    fill:none;
    stroke: #191919;
    stroke-width: 5;
    stroke-linecap: round;
    transform: translate(2px,2px);
}
svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 95) / 100);
    stroke: lightblue;
}

.card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 75) / 100);
    stroke: aqua;
}

.card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: navy;
}





